%h1 すべてのオークション

%ul.nav.nav-tabs
  %li{ role: 'presentation', class: current_page?(root_path) ? 'active' : '' }= link_to '開催中', root_path
  %li{ role: 'presentation', class: current_page?(closed_auctions_path) ? 'active' : '' }= link_to '終了済', closed_auctions_path

%table.table
  %thead
    %tr
      %th 商品名
      %th 現在価格
      %th 入札
      %th 終了日時

  %tbody
    - @auctions.each do |auction|
      %tr
        %td= link_to auction.name, auction
        %td= number_to_currency(auction.current_value)
        %td= auction.bids_count
        %td= l(auction.expired_at)

.text-center= paginate @auctions
