%h1= @auction.product.name

%dl.dl-horizontal
  %dt 商品説明
  %dd= simple_format(@auction.product.description)
  %dt 最低落札価格
  %dd #{@auction.value} 円
  %dt 終了日時
  %dd= l(@auction.expired_at)


= link_to '一覧に戻る', auctions_path
